<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments :: head}"></div>
</head>

<body>
	<div class="container">

		<h1>Benvenuto nella mia pizzeria</h1>

		<div class="container">
			<form th:action="@{/pizzeria}" method="get">
				<div class="input-group">
					<input name="keyword" type="search" th:value="${keyword}" class="form-control" placeholder="Cerca"
						aria-label="Cerca">
					<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
				</div>
			</form>
		</div>

		<div th:if="${!pizze.isEmpty()}">
			<table class="table">
				<thead>
					<tr>
						<th>
							Nome
						</th>
						<th>
							Foto
						</th>
						<th>
							Descrizione
						</th>
						<th>
							Prezzo
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pizza : ${pizze}">
						<td th:text="${pizza.nome}"></td>
						<td th:text="${pizza.foto}"></td>
						<td th:text="${pizza.descrizione}"></td>
						<td th:text="${pizza.prezzo}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{|/pizzeria/show/${pizza.id}|}">
								<!-- icona bootstrap -->
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-list" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
								</svg>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${pizze.isEmpty()}" class="alert alert-warning" role="alert">
			Non abbiamo pizze!
		</div>


	</div>
	<div th:replace="~{fragments :: script}"></div>
</body>

</html>